[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
django-rest-knox = "*"
django-filter = "*"
channels = "*"
daphne = "*"
channels-redis = "*"
uuid = "*"
chardet = "*"
scipy = "*"
scikit-learn = "*"
redis = "*"
numpy = "*"
django-storages = "*"
boto3 = "*"
pillow = "*"
beautifulsoup4 = "*"
geocoder = "*"
geopy = "*"
celery = "*"
django-select2 = "*"
django-cors-headers = "*"
asgiref = "*"
django-rest-auth = "*"
dj-rest-auth = "*"
django-allauth = "*"
gunicorn = "*"
django-heroku = "*"

[dev-packages]

[requires]
python_version = "3.10.7"
